{% load static %}
<nav id="sidebar" class="col-2 position-fixed h-100 p-0">
    <ul class="nav flex-column h-100">
        <li>
            <a href="{% url 'portfolios:index' %}" class="nav-link">文學院</a>
        </li>
        <li>
            <a href="{% url 'portfolios:index' %}" class="nav-link">教育學院</a>
        </li>
        <li>
            <a href="{% url 'portfolios:index' %}" class="nav-link">理工學院</a>
        </li>

        <!--修改-->
        {% if request.user.is_superuser %}
            <li>
                <a class="nav-link" href="/admin">後台管理</a>
            </li>
            <li>
                <a class="nav-link" href="{% url 'users:logout' %}">Logout</a>
            </li>
        {% elif request.user.is_authenticated %}
            <li>
                <a class="nav-link" href="{% url 'polls:index' %}">投票列表</a>
            </li>
            <li>
                <a class="nav-link" href="{% url 'users:logout' %}">Logout</a>
            </li>
        {% else %}
            <li>
                <a class="nav-link" href="{% url 'users:login' %}">Login</a>
            </li>
            <li>
                <a class="nav-link" href="{% url 'users:register' %}">Sign up</a>
            </li>
        {% endif %}
        <!--到這邊-->
    </ul>
</nav>