{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "vendor/fontawesome/css/all.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    {% block custom_head %}{% endblock %}
    {% block meta %}{% endblock %}
    {% block title %}<title>108伏秀作品集</title>{% endblock %}
</head>
<body>
    <header class="navbar navbar-expand-md navbar-dark bg-dark fixed-top px-md-5">
        <a class="navbar-brand font-weight-bold mr-auto" href="{% url 'index' %}">
            108扶秀作品集
        </a>
        {% if user.is_admin %}
            <span class="text-light mr-3"><i class="far fa-user mr-1"></i>{{ user.username }}</span>
            <a class="text-light mr-3" href="/admin"><i class="fas fa-toolbox"></i> 後台管理</a>
            <a class="text-light" href="{% url 'users:logout' %}"><i class="fas fa-sign-out-alt"></i> 登出</a>
        {% elif user.is_authenticated %}
            <span class="text-light mr-3"><i class="far fa-user mr-1"></i>{{ user.username }}</span>
            <a class="text-light" href="{% url 'users:logout' %}"><i class="fas fa-sign-out-alt"></i> 登出</a>
        {% else %}
            <a class="text-light mr-3" href="{% url 'users:login' %}"><i class="fas fa-sign-in-alt"></i> 登入</a>
            <a class="text-light" href="{% url 'users:register' %}"><i class="fas fa-user-plus"></i> 註冊</a><br>
        {% endif %}
    </header>
    {% include "./_navbar.html" %}
    <main class="container offset-2 px-5 pt-4">
        {% block content %}{% endblock %}
    </main>
    {% block custom_script %}{% endblock %}
</body>
</html>