{% extends "layout/base.html" %}
{% load static %}

{% block content %}
{% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
{% endif %}

<div class="py-3 m-0 mb-4">
    <div class="d-flex flex-column">
        <div class="d-flex align-items-center mb-2">
            <h2 class="card-title m-0 mr-4">{{ work.title }}</h2>
            <span class="mr-3"><i class="far fa-heart"></i> 20</span>
            
            <button class="btn btn-primary btn-sm plus-one-btn"><i class="fas fa-thumbs-up"></i><a href="{% url 'portfolios:vote' work.id %}"> 投一票！</a></button>
        </div>
        <p class="card-text">
            {{ work.work_department }} <br/> 
            {{ work.author }}
        </p>
        <h4>作品簡介</h4>
        <p class="text-muted">
            {{ work.description }}
        </p>
        <h4>作品內容</h4>
        <a href="{{ work.pdf_file.url }}" target="_blank">{{ work.pdf_file }}</a>
        <iframe src="{{ work.pdf_file.url }}" width="100%" height="700px"></iframe>
    </div>
</div>
{% endblock %}