{% extends "layout/base.html" %}

{% block content %}
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning {% if message.tags %} alert-{{ message.tags }} {% endif %} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
{% endif %}
<div class="py-3 m-0 mb-4">
    <div class="d-flex flex-column">
        <div class="d-flex align-items-center mb-2">
            <h2 class="card-title m-0 mr-4">{{ work.title }}</h2>
            <span class="mr-3">{% if work.id == voted_id %}<i class="fas fa-heart"></i>{% else %}<i class="far fa-heart"></i>{% endif %} {{ work.uservote_set.all | length }}</span>
            <a href="{% url 'portfolios:vote' work.id %}?next={% url 'portfolios:article' work.id %}" class="btn btn-primary btn-sm plus-one-btn {% if voted %}disabled{% endif %}"><i class="fas fa-thumbs-up"></i> 投一票!</a>
            <!-- <a href="{% url 'portfolios:vote' work.id %}?next={% url 'portfolios:article' work.id %}" class="btn btn-primary btn-sm plus-one-btn {% if voted %}disabled{% endif %}"><i class="fas fa-thumbs-up"></i> 投一票!</a> -->
        </div>
        <p class="card-text">
            {{ work.work_department }} <br/> 
            {{ work.author }}
        </p>
        <h4>作品簡介</h4>
        <p class="text-muted">
            {{ work.description }}
        </p>
        <h4>作品內容</h4>
        {% if work.pdf_file %}
            <iframe src="{{ MEDIA_URL }}{{ work.pdf_file }}#toolbar=0" width="100%" height="700px"></iframe>
        {% elif work.video_url %}
            <div id="video"></div>
            <script>
                $(document).ready(function() {
                    const regExp = /^.*(youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=|&v=)([^#&?]*).*/;
                    const match = '{{ work.video_url }}'.match(regExp);
            
                    let videoId = null;
                    if (match && match[2].length === 11) {
                        videoId = match[2];
                    }

                    if (videoId) {
                        const iframeMarkup = '<iframe width="560" height="315" src="//www.youtube.com/embed/' 
                                                + videoId + '" frameborder="0" allowfullscreen></iframe>';
                        $('#video').append(iframeMarkup);
                    } else {
                        $('#video').append('<p>影片連結失效</p>');
                    }
                })
            </script>
        {% else %}
            <p>尚未提供作品資料</p>
        {% endif %}
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title">是否要投票？</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <p>確定要投給這個作品？</p>
                <p class="font-weight-bold">注意：投票後不可更改</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                <a id="confirmBtn" href="#" class="btn btn-primary">確定</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block custom_script %}
<script>
    $('.plus-one-btn').click(function(event) {
        event.preventDefault();
        $('#confirmModal').modal('show');
        $('#confirmBtn').attr('href', this.href);
    });
</script>
{% endblock %}