{% extends "layout/base.html" %}

{% block content %}
<h2 class="font-weight-bold header-sm">{{ college }}</h2>
<p class="text-muted">為您喜愛的作品投下神聖的一票!</p>

{% for work in work_list %}
<div class="row py-3 border m-0 mb-4">
    <div class="col-12 d-flex flex-column">
        <div class="d-flex align-items-center mb-2">
            <h3 class="card-title m-0 mr-4">{{ work.title }}</h3>
            <span class="mr-3"><i class="far fa-heart"></i> {{ work.uservote_set.all | length }}</span>
            <button class="btn btn-primary btn-sm plus-one-btn"><i class="fas fa-thumbs-up"></i> 投一票!</button>
        </div>
        <p class="card-text">
            {{ work.work_department }} <br/> 
            {{ work.author }}
        </p>
        <p class="text-muted">
            {{ work.description }}
        </p>
        <a href="/portfolios/{{ work.work_college }}/{{ work.id }}" class="btn btn-secondary align-self-end mt-auto">觀看作品</a>
    </div>
</div>
{% endfor %}

{% endblock %}