{% extends "layout/base.html" %}

{% block content %}
<h1>前言</h1>
<p>本次國文成果展主要參與對象為大一國文課程學生，各班教師審核該班作品後，挑選出全班最優秀作品，參加成果展。並延聘五位評審，統計評選結果後，將以院為單位，選出該院最優秀作品，予以表揚。</p>
<p>請觀展同學票選其所最喜愛作品，得票數最多的作品，將獲得最佳人氣獎。為了感謝同學參與投票，我們將於109/9/22(二)抽出幸運兒可獲得神秘禮物乙份，歡迎同學們踴躍參與。謝謝！</p>
<p>※票選時間：<span style="color: #ff0000;">即日起至109年9月20日（日）晚上12點</span></p>
<p>※各院獲獎名單將放在<span style="color: #db0063;">全人中心網頁</span> <a href="http://www.hec.fju.edu.tw/" target="_blank">http://www.hec.fju.edu.tw/</a>，
<br/>全人中心將另行通知獲獎同學領獎事宜，謝謝！</p>
{% endblock %}